*{
    margin:0px;
    padding:0px;
  }
  
  .hero {
    background-image: url('https://images.unsplash.com/photo-1689656966481-043a970b7c76?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px;
    color: #fff;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero-title {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .hero-discription {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  .hero-button {
    font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6600;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  }
  
  .hero-button:hover {
    background-color: #ff4500;
  }
  